<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration>
	<appender name="stderr" class="org.apache.log4j.ConsoleAppender">
		<param name="target" value="System.err"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%5p %c - %m%n"/>
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="levelMin" value="WARN"/>
		</filter>
	</appender>

	<appender name="stdout" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%5p %c - %m%n"/>
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="levelMax" value="INFO"/>
		</filter>
	</appender>

	<logger name="com.eatnumber1" additivity="true">
		<level value="trace"/>
	</logger>

	<root>
		<priority value="warn"/>
		<appender-ref ref="stderr"/>
		<appender-ref ref="stdout"/>
	</root>
</log4j:configuration>